/* ==================================================
  Responsive Styling
  ================================================== */
@media (max-width: 61.9em) {
  section,
  .block,
  .cta {
    padding: 35px 0;
  }
  .features {
    padding-bottom: 5px;
  }
  p,
  .block p {
    margin: 0;
  }
  .hero-brand {
    margin-bottom: 35px;
  }
  .tagline {
    margin: 35px 0;
  }
  h1 {
    font-size: 32px;
    margin: 0;
  }
  h2,
  .tagline {
    font-size: 24px;
  }
  h2 {
    margin-bottom: 25px;
  }
  h3 {
    font-size: 14px;
  }
  .hero {
    padding: 75px 0;
  }
  .stats-col {
    margin-bottom: 25px;
  }
  .block {
    height: auto;
  }
  .feature-col {
    padding-bottom: 30px;
  }
  .portfolio-grid .card h3.card-title {
    font-size: 18px !important;
  }
  .portfolio-grid .card .card-text {
    font-size: 13px;
  }
  .team .team-over {
    padding-top: 20px;
  }
  .team .card .social-nav {
    margin-bottom: 15px;
    padding: 0;
  }
  .site-footer .social-nav {
    margin-bottom: 35px;
  }
  .site-footer .list-inline {
    text-align: center;
    padding-bottom: 15px;
  }
  .site-footer .list-inline li {
    display: inline-block;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
	.theme-nav ul li a {padding:15px 1.2rem;font-size: 15px;}
	.btm-blocks {padding: 0;} .info-graphics {width: 100%;}
	.hero-content h3 {font-size: 2rem;}
	.carousel-control-next .fa, .carousel-control-prev .fa {border: none;} .theme-nav ul li a {padding: 15px 0.8rem;}
	.star-list span {color: #006a4e;	font-size: 12px;}
	.product-card .item-info {font-size: 9px;}
	.product-card .pro-name {font-size: 14px;}
	.item-summary {width: 90px;min-width: 90px;}
	.search-tp {right: 0;width:39%;}
	.img-links span {opacity: 1 !important;padding:2.1rem 2rem!important}
	.img-links img {max-width: 150px;}
	.post-links .row {margin: 0;}
	.cart-sec .container {min-width: 100%;}
	.cart-sec .container .col-sm-12{padding:0;}
	#french-hens {width: 100%;}
	.item-pro {min-width: 74px;}
}
@media (min-width: 768px) and (max-width: 991px){
	.theme-nav ul li a {padding: 15px 9px;font-size: 15px;}
	.btm-blocks {padding: 0;} .info-graphics {width: 100%;}
	.hero-content h3 {font-size: 2rem;} .social {margin: auto;}
	.custom-navheader {padding: .5rem 0 0;}
	.theme-sider .carousel-inner .carousel-item {height: 34vh;}
	.item-card .overlay-content .overlay-text {background: rgba(255, 255, 255, 0.8);padding: 15px;}
	.item-card2 .overlay-content{padding:0;}
	.item-card1 .overlay-text {width: 91%;}
	.theme-nav ul li a {padding: 15px 0.5rem;font-size: 13px;}
	.item-card3 {background-position: top 35px center !important;background-size: 340px !important;}
	.fig-card {height: 335px;background-repeat: no-repeat !important;}
	.fig-card-sml {height:20rem;background-size:21rem !important;margin-bottom: 30px;flex-direction: column;margin-top: 6rem;position: relative;}
	.fig-card-sml .card-body {position: absolute;right: 0;flex: 0 0 100%;padding-right: 0;top: auto;bottom: -5rem;left: 0;
	background: #fff;width: 90%;}
	.fig-span, .fig-card-sml .card-body {position: absolute;bottom: 21%;width: 45%;left: auto;right: 0;margin: 0 auto;background: #fff;}
	.carousel-control-next .fa, .carousel-control-prev .fa {border: none;}
	.star-list span {color: #006a4e;	font-size:11px;}
	.product-card .item-info {font-size: 9px;}
	.product-card .pro-name {font-size: 14px;}
	.item-summary {width: 80px;min-width: 60px;}
	.couponModal img {max-width: 140px;margin: 10px auto;}
	.couponModal .modal-dialog {height: auto;}
	.couponModal h3 {font-size: 23px;}
	.couponModal p {font-size: 12px;}
	.autthor-info {padding: 15px;margin-top: 15px;}
	.blog-single .container {max-width: 100%;}
	.img-links span {opacity: 1 !important;padding:2.1rem 2rem!important}
	.img-links img {max-width: 150px;}
	.post-links .row {margin: 0;}
	.nav-combo {min-width: 100%;}
	.search-tp {right: 0;width: 51%;}
	.cart-sec .container, .cart-page .container{min-width: 100%;}
	.cart-sec .container .col-sm-12{padding:0;}
	#french-hens {width: 100%;}
	.size-list li input + label {padding: 0 3px;width: 25px;}
	.btnn-list li:last-child {font-size: 12px;}
	.form-box label {font-size: 12px;}
	.item-pro {min-width: 44px;}
	
}
@media (max-width: 767px){
	h1 {font-size: 25px!important;} h2 {font-size:20px!important;} h3 {font-size:16px!important;} p{font-size:12px!important;} h4{font-size:13px;}	.pad-xs-0{padding:0;} .hide-xs{display:none;}
	body {padding-top:0;}.copyright p{padding-bottom:15px;}
	.custom-navheader img {max-width: 150px;}
	#header {background: #F9FAFA;height: auto;}
	.hero {padding: 10px 0;}
	.btm-blocks {padding: 0 15px;}
	.btm-hero {padding: 10px !important;}
	.info-graphics {width: 100%;margin: 15px 0;}
	.theme-nav ul li a {padding:10px 0.6rem;font-size: 13px;}
	.theme-nav {background: #000;position: absolute;z-index:10000;width: 100%;padding: 10px 0;}
	.social {margin: auto;}
	.custom-navheader {padding: .5rem 15px 0;}
	.tp-heading .visit-btn {padding: 6px 10px;}
	.theme-navheader {padding-left: 15px;padding-right: 15px;}
	.user-nav {position: absolute;top: 75px;background: #fff;z-index: 9;left: 0;width: 100%;}
	.user-nav > ul > li {width: 100%;padding: 5px 10px;border-bottom: solid 1px #cccc;}
	.user-nav > ul > li:last-child{border:none;}
	.right-list li a::after {width: 0;}
	.theme-sider .carousel-inner .carousel-item {height:32vh;}
	.crousal-caption h4 {font-size: 17px;}
	.crousal-caption .btn-lead {padding: 8px 10px;}
	.carousel-control-next .fa, .carousel-control-prev .fa {border: none;}
	.overlay-text {display: block !important;position: absolute;bottom: 10px;}
	.overlay-text p {margin-bottom: 15px;}
	.pxs-0{padding:0!important;}
	.item-card .overlay-content .overlay-text {background: rgba(255, 255, 255, 0.8);padding: 15px;}
	.item-card2 .overlay-content{padding:0;}
	.item-card1 .overlay-text {width: 91%;}
	.item-card3 {background-position: top 35px center !important;background-size: 340px !important;}
	.item-card2 {background-position: top 0 center !important;}
	.fig-card {height: 335px;background-repeat: no-repeat !important;}
	.fig-card-sml {height:20rem;background-size: 25rem !important;margin-bottom: 30px;flex-direction: column;margin-top: 6rem;position: relative;}
	.fig-card-sml .card-body {position: absolute;right: 0;flex: 0 0 100%;padding-right: 0;top: auto;bottom: -5rem;left: 0;
	background: #fff;width: 90%;}
	.quality-products {padding-bottom: 6rem;}
	.eql-colmn {margin-bottom: 2rem;}
	.widget p {margin-bottom: 15px;}
	.footer-widgets{margin-bottom:0;}
	.drop-list li {padding: 0 5px;}
	.btn-fiter {padding: 7px 0;width: 90px;}
	.product-img {height:21rem;	}
	.bread-links .breadcrumb {background: transparent;padding: 10px 0;}
	.checkout-content{padding:0}
	.item-summary {margin-bottom: 10px;}
	.total-card{margin-bottom:0;}
	.checkout-content h4 {font-size: 19px;}
	.form-box label {font-size: 13px;}
	.couponModal .modal-dialog {width: 95%;height: auto;}
	.couponModal img {max-width: 110px;margin: 10px auto 10px;}
	.btn-coupon {font-size: 10px;margin-bottom: 20px;}
	.couponModal p {text-align: center;font-size: 9px !important;}
	.couponModal .close {right: -11px;}
	.dropdown-menu {min-width: 21rem;}
	.theme-nav .dropdown-menu .nav-link {padding-right: 15px;padding-left: 9px;}
	.theme-nav ul li.dropdown > a {padding: 10px;}
	.search-tp {left: 5rem;width: 74%;top: 7px;}
	.post-info .breadcrumb {padding-left: 0;}
	.autthor-info {padding: 15px 10px;margin-top: 10px;}
	.autthor-info img {max-width: 100px;margin-bottom: 10px;}
	.tag-info {display: block !important;}
	.img-links img {max-width: 150px;}
	.img-links span {opacity: 1 !important;padding:2.1rem 2rem!important}
	.comment-form {padding: 1rem;}
	.btn-try {margin-bottom: 30px;}
	.btnn-list li:last-child {font-size: 12px;}
	.item-info span {display: inline-block !important;}
	.cart-items tr td {width: 100%;display: block;text-align: center;}
	.cart-items tr td input[type="number"] {margin: 0 auto;}
	.cart-items tr {position: relative;}
	.cart-page .btn-danger {margin-top: 13px;position: absolute;top: 0;right: 10px;}
	.item-pro {min-width: 100%;	margin-bottom: 15px;}
	.coupon-form {margin-bottom: 15px;}
}
