<template>
    <table id="cart" class="table table-hover table-condensed">
        <tbody>
            <tr v-for="(item,index) in items" :key="index">
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><img :src="'/storage/' +item.product_image" alt="product image" class="img-fluid item-pro"></div>
                        <div class="col-sm-10">
                            <h5 class="m-0 text-uppercase">{{ item.title }}</h5>
                            <p class="item-info m-0">Style #: {{ item.product_code }} / Size : {{ item.product_size }} / Color : <span class="checkout-content-color" :style="{ 'background-color': `#${ item.color }` }"></span> </p>
                            <div class="star-list">
                                <span class="fa fa-star" v-bind:class="{ 'empty': item.ratting<5 }"></span>
                                <span class="fa fa-star" v-bind:class="{ 'empty': item.ratting<4 }"></span>
                                <span class="fa fa-star" v-bind:class="{ 'empty': item.ratting<3 }"></span>
                                <span class="fa fa-star" v-bind:class="{ 'empty': item.ratting<2 }"></span>
                                <span class="fa fa-star" v-bind:class="{ 'empty': item.ratting<1 }"></span>
                            </div>
                            <p>(Based on {{ item.review }} Reviews)</p>
                        </div>
                    </div>
                </td>
                <td data-th="Quantity">
                    <h5 class="text-uppercase">Quantity:</h5>
                    <input type="number" class="form-control text-center" min="1" v-model="item.quantity" @keyup="$emit('update-cart')" @mouseup="$emit('update-cart')">
                </td>
                <td data-th="Price"><h5 class="text-uppercase">Unit price:</h5>${{ item.unit_price }}</td>
                <td data-th="Subtotal" class="text-center"><h5 class="text-uppercase">Total price:</h5>${{ item.quantity*item.unit_price }}</td>
                <td class="actions" data-th="">
                    <a :href="'/remove-cart/' +index" class="btn btn-danger btn-sm"><i class="fa fa-close"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        mounted() {

        },
        props:['items']
    }
</script>
