<template>
    <ul class="list-inline items_list">
        <li v-for="(item,index) in items" :key="index">
            <figure class="product-item" :style="{ backgroundImage: 'url(\'' + '/storage/' + item.product_image + '\')' }" ></figure>
            <div class="item-info">
                <h5 class="item-name">{{ item.title }}<span class="d-block item-quantity">QTY : {{ item.quantity }}</span></h5>
                <p class="item-price"><span class="new-price">${{ item.quantity*item.unit_price }}</span></p>
            </div>
            <a :href="'/remove-cart/' +index" class="delete-link">×</a>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "CheckoutComponent",
        props:['items']
    }
</script>

<style scoped>

</style>
